In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
print("\n# ===== 1. 创建 Series & DataFrame =====")
s = pd.Series([10,20,30],index=['a','b','c'])
print("series:",s)

# ===== 1. 创建 Series & DataFrame =====
series: a    10
b    20
c    30
dtype: int64

In [ ]:
data = {
    "name": ["Tom", "Jerry", "Anna", None, "Tom"],
    "age": [20, np.nan, 22, 25, 20],
    "score": [88, 92, None, 75, 88],
    "date": ["2024-06-01", "2024-06-02", "2024-06-03", "2024-06-04", "2024-06-05"]
}
df = pd.DataFrame(data)
print("\nDataFrame:\n",df)

DataFrame:
 [    name   age  score        date
0    Tom  20.0   88.0  2024-06-01
1  Jerry   NaN   92.0  2024-06-02
2   Anna  22.0    NaN  2024-06-03
3   None  25.0   75.0  2024-06-04
4    Tom  20.0   88.0  2024-06-05]

In [18]:
print("\n# ===== 2. 读取 & 保存 CSV =====")
df.to_csv("example.csv",index=False)
df2 = pd.read_csv("example.csv")
print("从CSV读取：\n",df2)

# ===== 2. 读取 & 保存 CSV =====
从CSV读取：
     name   age  score        date
0    Tom  20.0   88.0  2024-06-01
1  Jerry   NaN   92.0  2024-06-02
2   Anna  22.0    NaN  2024-06-03
3    NaN  25.0   75.0  2024-06-04
4    Tom  20.0   88.0  2024-06-05

In [21]:
print("\n# ===== 3. head() / info() / describe() =====")
print(df.head(3))
print(df.info())
print(df.describe())

# ===== 3. head() / info() / describe() =====
    name   age  score        date
0    Tom  20.0   88.0  2024-06-01
1  Jerry   NaN   92.0  2024-06-02
2   Anna  22.0    NaN  2024-06-03
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      float64
 2   score   4 non-null      float64
 3   date    5 non-null      object
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes
None
             age      score
count   4.000000   4.000000
mean   21.750000  85.750000
std     2.362908   7.410578
min    20.000000  75.000000
25%    20.000000  84.750000
50%    21.000000  88.000000
75%    22.750000  89.000000
max    25.000000  92.000000

In [27]:
print("\n# ===== 4. 选择数据 iloc / loc =====")
print(df)
print("iloc 前两行两列：\n",df.iloc[:2,:2])
print("loc 按列名选择：\n",df.loc[:,["name","score"]])

# ===== 4. 选择数据 iloc / loc =====
    name   age  score        date
0    Tom  20.0   88.0  2024-06-01
1  Jerry   NaN   92.0  2024-06-02
2   Anna  22.0    NaN  2024-06-03
3   None  25.0   75.0  2024-06-04
4    Tom  20.0   88.0  2024-06-05
iloc 前两行两列：
     name   age
0    Tom  20.0
1  Jerry   NaN
loc 按列名选择：
     name  score
0    Tom   88.0
1  Jerry   92.0
2   Anna    NaN
3   None   75.0
4    Tom   88.0

In [29]:
print("\n# ===== 5. 缺失值处理 =====")
print(df)
print("删除所有缺失值的行：\n",df.dropna())
print("缺失值填充0：\n",df.fillna(0))

# ===== 5. 缺失值处理 =====
    name   age  score        date
0    Tom  20.0   88.0  2024-06-01
1  Jerry   NaN   92.0  2024-06-02
2   Anna  22.0    NaN  2024-06-03
3   None  25.0   75.0  2024-06-04
4    Tom  20.0   88.0  2024-06-05
删除所有缺失值的行：
   name   age  score        date
0  Tom  20.0   88.0  2024-06-01
4  Tom  20.0   88.0  2024-06-05
缺失值填充0：
     name   age  score        date
0    Tom  20.0   88.0  2024-06-01
1  Jerry   0.0   92.0  2024-06-02
2   Anna  22.0    0.0  2024-06-03
3      0  25.0   75.0  2024-06-04
4    Tom  20.0   88.0  2024-06-05

In [30]:
print("\n# ===== 6. 重复值处理 =====")
print("去重：\n",df.drop_duplicates())

# ===== 6. 重复值处理 =====
去重：
     name   age  score        date
0    Tom  20.0   88.0  2024-06-01
1  Jerry   NaN   92.0  2024-06-02
2   Anna  22.0    NaN  2024-06-03
3   None  25.0   75.0  2024-06-04
4    Tom  20.0   88.0  2024-06-05

In [31]:
print("\n# ===== 7. 改列名 rename =====")
df_renamed = df.rename(columns={"name":"Name"})
print(df_renamed.head())

# ===== 7. 改列名 rename =====
    Name   age  score        date
0    Tom  20.0   88.0  2024-06-01
1  Jerry   NaN   92.0  2024-06-02
2   Anna  22.0    NaN  2024-06-03
3   None  25.0   75.0  2024-06-04
4    Tom  20.0   88.0  2024-06-05

In [32]:
print("\n# ===== 8. 改数据类型 astype =====")
print(df.dtypes)
df["age"] = df["age"].fillna(0).astype(int)
print(df.dtypes)

# ===== 8. 改数据类型 astype =====
name      object
age      float64
score    float64
date      object
dtype: object
name      object
age        int64
score    float64
date      object
dtype: object

In [35]:
print("\n# ===== 9. 条件筛选（布尔索引） =====")
print("age>21:\n",df[df["age"]>21])
print("age>21且score>80:\n",df[(df["age"]>21) & (df["score"]>60)])

# ===== 9. 条件筛选（布尔索引） =====
age>21:
    name  age  score        date
2  Anna   22    NaN  2024-06-03
3  None   25   75.0  2024-06-04
age>21且score>80:
    name  age  score        date
3  None   25   75.0  2024-06-04

In [36]:
print("\n# ===== 10. 排序 =====")
print(df.sort_values(by="score",ascending=False))

# ===== 10. 排序 =====
    name  age  score        date
1  Jerry    0   92.0  2024-06-02
0    Tom   20   88.0  2024-06-01
4    Tom   20   88.0  2024-06-05
3   None   25   75.0  2024-06-04
2   Anna   22    NaN  2024-06-03

In [37]:
print("\n# ===== 11. 分组统计 groupby =====")
print("按name分组求平均分：\n",df.groupby("name")["score"].mean())

# ===== 11. 分组统计 groupby =====
按name分组求平均分：
 name
Anna      NaN
Jerry    92.0
Tom      88.0
Name: score, dtype: float64

In [39]:
print("\n# ===== 12. 日期处理 =====")
df["date"] = pd.to_datetime(df["date"])
print("年份列：",df["date"].dt.year)
print("月份列：",df["date"].dt.month)
print("按月份分组统计平均分：\n",df.groupby(df["date"].dt.month)["score"].mean())

# ===== 12. 日期处理 =====
年份列： 0    2024
1    2024
2    2024
3    2024
4    2024
Name: date, dtype: int32
月份列： 0    6
1    6
2    6
3    6
4    6
Name: date, dtype: int32
按月份分组统计平均分：
 date
6    85.75
Name: score, dtype: float64